{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
{% endblock %}

{% block announce %}
<p><span>Prefer a simpler way to manage double-entry accounting without editing text files? Try </span><a class="finbodhi" href="https://finbodhi.com" target="_blank">FinBodhi</a></p>
{% endblock %}
