paisa.db
paisa.yaml
paisa
web/static
example.ledger
personal.ledger
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.backup.*
*.test

out/
dist/
