paisa.db
/paisa.yaml
/paisa
/sample
web/static
/example.ledger
/main.ledger
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.backup.*
*.test
docs/lexer/__pycache__/
bun.lockb
svg/*
