
@font-face {
  font-family: "fa6-regular";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fa6-regular.woff2") format("woff2");
  unicode-range: U+F22B2-F2355;
  font-display: block;
}
