
@font-face {
  font-family: "fluent-emoji-high-contrast";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/fluent-emoji-high-contrast.woff2") format("woff2");
  unicode-range: U+F5B53-F615C;
  font-display: block;
}
