:root > * {
  --md-code-hl-keyword-color: #8959a8;
  --md-code-hl-number-color: #6c71c4;
  /* --md-code-hl-special-color: #3e999f; */
  --md-code-hl-function-color: #4271ae;
  /* --md-code-hl-constant-color */
  /* --md-code-hl-keyword-color */
  --md-code-hl-string-color: #c82829;
  --md-code-hl-name-color: #3e999f;
  --md-code-hl-operator-color: #f5871f;
  /* --md-code-hl-punctuation-color */
  --md-code-hl-comment-color: #7a7a7a;
  /* --md-code-hl-generic-color */
  --md-code-hl-variable-color: #718c00;
}

:root {
  --logo-color: #b388ff;
  --logo-color-dark: #9971e5;
  --logo-color-darker: #351982;
}

.highlight .m {
  font-weight: bold;
}

.highlight .gh {
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.highlight .kn {
  color: rgb(74, 74, 74);
  text-decoration: underline;
}

[data-md-color-scheme="slate"] .highlight .gh {
  color: rgb(161, 161, 161);
}

[data-md-color-scheme="slate"] .highlight .kn {
  color: rgb(161, 161, 161);
}

.hero {
  margin-top: 20px;
  margin-bottom: 40px;
}

.hero h1 {
  text-align: center;
  color: inherit;
  font-weight: 700;
  color: var(--logo-color);
  margin-bottom: 0;
  margin-top: -30px;
}

.md-header__topic:first-child {
  color: var(--logo-color);
}

.hero p {
  text-align: center;
  max-width: 640px;
  margin: auto;
  line-height: 1.28;
  color: var(--md-default-fg-color--light);
  font-size: 0.72rem;
}

.home .tabbed-set {
  max-width: 510px;
  margin: 0px auto 50px auto !important;
}

.home ul li {
  list-style: none;
  margin-left: 0 !important;
}

.home ul {
  margin-left: 0 !important;
}

.home .md-button--primary {
  background-color: var(--logo-color);
  border-color: var(--logo-color);
  color: var(--logo-color-darker);
  border-radius: 30px;
  padding: 0.325em 1.5em;
}

.home .md-button--primary:hover {
  background-color: var(--logo-color-dark);
  border-color: var(--logo-color-dark);
  color: var(--logo-color-darker);
}

.features-container {
  display: flex;
  gap: 20px;
}

.features {
  flex-basis: 50%;
}

.thumbnail-container {
  flex-basis: 50%;
  box-shadow:
    0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3);
}

.split-codeview {
  display: flex;
  border-right-style: none;
  overflow-x: scroll;
}

.split-codeview .sheet {
  width: 75%;
}

.split-codeview .sheet-result {
  width: 25%;
}

.split-codeview .sheet code {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.split-codeview .sheet-result code {
  font-family: var(--md-text-font-family);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: right;
  border-left: 1px solid hsl(0, 0%, 86%);
}

.split-codeview .sheet-result-1 code span:nth-child(1),
.split-codeview .sheet-result-1 code span:nth-child(10),
.split-codeview .sheet-result-2 code span:nth-child(1),
.split-codeview .sheet-result-3 code span:nth-child(1),
.split-codeview .sheet-result-3 code span:nth-child(6),
.split-codeview .sheet-result-3 code span:nth-child(9),
.split-codeview .sheet-result-3 code span:nth-child(20),
.split-codeview .sheet-result-3 code span:nth-child(23) {
  display: block;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-md-color-scheme="slate"] .split-codeview .sheet-result code {
  border-left: 1px solid hsl(215, 18%, 27%);
}

.thumbnail {
  --scale-factor: 0.45;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.thumbnail iframe {
  transform: scale(var(--scale-factor));
  width: calc(1 / var(--scale-factor) * 100%);
  max-width: calc(1 / var(--scale-factor) * 100%);
  height: calc(1 / var(--scale-factor) * 100%);
  transform-origin: 0 0;
}

@media screen and (max-width: 1275px) {
  .features {
    flex-basis: 100%;
  }

  .thumbnail-container {
    display: none;
  }
}

.app-frame {
  --padding-h: 0;
  --padding-v: 0;
  --bar-height: 33px;
  --border-width: 0;
  --bar-inset: 10px;
}

.app-frame.win {
  --button-inset: 12px;
}

.app-frame::after {
  font-family: inherit;
}

.assets-color {
  color: #00b0ff;
}

.expenses-color {
  color: #ff1744;
}

.liabilities-color {
  color: #ffab00;
}

.equity-color {
  color: #d500f9;
}

.income-color {
  color: #aeea00;
}
