:root > * {
  --md-code-hl-keyword-color: #708;
  --md-code-hl-number-color: hsl(229deg, 53%, 53%);
  /* --md-code-hl-special-color */
  /* --md-code-hl-function-color */
  /* --md-code-hl-constant-color */
  /* --md-code-hl-keyword-color */
  --md-code-hl-string-color: #a11;
  /* --md-code-hl-name-color */
  /* --md-code-hl-operator-color */
  /* --md-code-hl-punctuation-color */
  --md-code-hl-comment-color: #7a7a7a;
  /* --md-code-hl-generic-color */
  --md-code-hl-variable-color: #085;
}

.highlight .m {
  font-weight: bold;
}

.highlight .gh {
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.highlight .kn {
  color: rgb(74, 74, 74);
  text-decoration: underline;
}

[data-md-color-scheme="slate"] .highlight .gh {
  color: rgb(161, 161, 161);
}

[data-md-color-scheme="slate"] .highlight .kn {
  color: rgb(161, 161, 161);
}

.hero {
  margin-top: 0px;
  margin-bottom: 30px;
}

.hero h1 {
  margin-bottom: 30px;
  text-align: center;
  color: inherit;
  font-weight: 700;
}

.hero p {
  text-align: justify;
  max-width: 640px;
  margin: auto;
  line-height: 1.28;
  color: var(--md-default-fg-color--light);
  font-size: 0.72rem;
}

.home .tabbed-set {
  max-width: 510px;
  margin: 0px auto 50px auto !important;
}

.home ul li {
  list-style: none;
  margin-left: 0 !important;
}

.home ul {
  margin-left: 0 !important;
}

.features-container {
  display: flex;
  gap: 20px;
}

.features {
  flex-basis: 50%;
}

.thumbnail-container {
  flex-basis: 50%;
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.1),
    0 0 30px rgb(0, 0, 0, 0.05);
}

.thumbnail {
  --scale-factor: 0.45;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.thumbnail iframe {
  transform: scale(var(--scale-factor));
  width: calc(1 / var(--scale-factor) * 100%);
  max-width: calc(1 / var(--scale-factor) * 100%);
  height: calc(1 / var(--scale-factor) * 100%);
  transform-origin: 0 0;
}

@media screen and (max-width: 1275px) {
  .features {
    flex-basis: 100%;
  }

  .thumbnail-container {
    display: none;
  }
}

.app-frame {
  --padding-h: 0;
  --padding-v: 0;
  --bar-height: 33px;
  --border-width: 0;
  --bar-inset: 10px;
}

.app-frame.win {
  --button-inset: 12px;
}

.app-frame::after {
  font-family: inherit;
}

.assets-color {
  color: #00b0ff;
}

.expenses-color {
  color: #ff1744;
}

.liabilities-color {
  color: #ffab00;
}

.equity-color {
  color: #d500f9;
}

.income-color {
  color: #aeea00;
}
