:focus {
  outline: 0;
}

body {
  font-size: 14px;
}

.axis text {
  font-size: 10px;
  fill: #aaa;
}

.inline-text text {
  font-size: 12px;
  font-weight: bold;
}

.axis.dark text {
  font-size: 12px;
  fill: #666;
}

.axis path.domain,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.axis .tick line {
  stroke: #dedede;
  shape-rendering: crispEdges;
}

.legendOrdinal .label,
.legendLine .label {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: normal;
  color: #4a4a4a;
}

#d3-investment-timeline .legendOrdinal .label,
#d3-yearly-investment-timeline .legendOrdinal .label,
#d3-income-timeline .legendOrdinal .label,
#d3-breakdown .legendOrdinal .label {
  font-size: 8px;
}

.y.axis line {
  stroke: #f5f5f5;
}

.y.axis path.domain {
  display: none;
}

.y.axis.keep-domain path.domain {
  display: block;
}

#d3-salary-timeline .x.axis > g.tick {
  display: none;
}

#d3-salary-timeline .x.axis > g.tick:nth-child(3n-1) {
  display: inline;
}

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#d3-allocation-category,
#d3-allocation-value {
  position: relative;
}

.popup-table td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .column,
  .section {
    padding-right: 0;
    padding-left: 0;
  }
}

.adjustable-input {
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  width: 80px;
  font-size: 1em !important;
  margin-left: 5px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 5px;
  height: 1.3rem;
}

#d3-expense-timeline .cell {
  cursor: pointer;
}

.zoomable {
  cursor: zoom-in;
}

.d3-calendar .days,
.d3-calendar .weekdays {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  color: #4a4a4a;
}

.d3-calendar .weekdays div {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 5px;
  flex: 14.28571%;
  margin: 0.1rem 0;
  align-items: center;
}

.d3-calendar .days .date {
  display: flex;
  justify-content: center;
  flex: 14.28571%;
  margin: 0.1rem 0;
  align-items: center;
}

.section {
  padding: 1.5rem !important;
}
