@import "bulma/sass/utilities/_all.sass";

:root {
  font-size: 12px;

  @include desktop {
    font-size: 14px;
  }

  @include mobile {
    .navbar-item {
      &.has-dropdown {
        .navbar-dropdown {
          display: none;
        }
        &.is-active {
          .navbar-dropdown {
            display: block;
          }
        }
      }
    }
  }
}
